<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1" >
  <title>Chatroom</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/chat.css">
</head>
<body onload="showChatHistory()">
  <div class="container">
    <div class="row mt10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <table>
            <tr>
              <td class="panel-title big">Chatroom</td>
              <td><a type="button" class="btn btn-danger btn-lg pull-right" href="/logout">Logout</a></td>
            </tr>
          </table>
        </div>
        <div class="panel-body">
          <div class="msg-list" id="msg-list">
          </div>
        </div>
      </div>
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="nickname"><span><%- user.name %></span>:</span>
      <input type="text" class="form-control msg-input" id="msgIn" placeholder="Put message here" onkeydown="enterSend(event)">
      <span class="input-group-btn">
        <button type="button"class="btn btn-primary btn-lg" onclick="sendMyMessage()">
          Send
        </button> 
      </span>
    </div>
  </div>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/client.js"></script>
</body>
</html>