body { padding: 0 50px 50px 50px;}
table{ width:100%;}

.mt10{ margin-top: 10px;}
.btn-logout{ margin-right: 0;}
.big{ font-size: 25px;}
.login{ 
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
.bubble-box{
	background:#EEE; 
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 12px;
	padding: 10px;
	color: #666666;
}
.bubble-name{
	text-align:left;
	font-family:Arial,sans-serif;
	font-size: 25px;
}
.bubble-time{
	text-align:right;
	font-family:"Times New Roman",sans-serif;
	font-size: 15px;
}
.bubble-content{
	text-align:left;
	font-family:sans-serif;
	font-size: 20px;
	word-wrap: break-word;
}
.bubble-system{
	width: 60%;
	border-radius: 8px;
	background: #FFCCCC;
	text-align:center;
	font-family:"Times New Roman",sans-serif;
	font-size: 20px;
	word-wrap: break-word;
	margin-left: auto;
	margin-right: auto;
}
.msg-list{
	position: relative;
	height: 470px;
	overflow-y: scroll;
}
.msg-input{
	background: #C5E8F8;
}